<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <h1 *ngIf="balances && xbtGbp">
    {{ balances | sum:xbtGbp | currency:'GBP' }}
  </h1>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs, update any existing page or create new pages.
  </p>
  <p></p>
  <ion-list *ngIf="balances && xbtGbp">
    <ion-item *ngFor="let b of balances">
      {{ b.displayCurrency }} - {{ b.value }} - {{ ( b.value * (b.ticker ? b.ticker.bid.price : 1) * xbtGbp.bid.price) | currency:'GBP'
      }}
    </ion-item>
  </ion-list>

  <button ion-button (click)="refresh()">Refresh</button>
</ion-content>
